 /* Create a Parallax Effect */
 .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.bgimg-1 {
    background-image: url('https://i.redd.it/s8je3ile96h01.jpg');
    // background-image: url('../../assets/img/background.jpg');
    min-height: 100%;
    // display:block;
    // position:absolute;
    // background-image: url('/img/background');
    // background-repeat:no-repeat;
    // background-size: 100% 100%;
    // width:122px;
    // height:148px;
    // float:right;
    // bottom:0;
    // right:0;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 99;
}

.navbuttons, .navbuttons > li {
    display: inline;
    padding-right: 50px;
    font-size: 20px;
    color: white;
    line-height: 0.9;
    margin: 2px 0 3px;

}

.navbuttons > li > svg:hover {
    border-bottom: #ffffff solid 1.5px;
    padding-bottom: 2px;
    cursor: pointer;
}

.navhome {
    
}

.navbutton {

}


/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

