 /* Create a Parallax Effect */
 .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.navbar {
    position: fixed;
    width: 100%;
    z-index: 99;
    background: linear-gradient(to right, black, rgb(97, 54, 1));
}

.navbuttons, .navbuttons > li {
    display: inline;
    padding-right: 50px;
    font-size: 20px;
    color: white;
    line-height: 0.9;
    margin: 2px 0 3px;

}

.navbuttons > li > svg:hover {
    border-bottom: #ffffff solid 1.5px;
    padding-bottom: 2px;
    cursor: pointer;
}

.navhome {
    
}

.navbutton {

}


/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

