<div class="container-text">
  Portfolio
</div>

<div class="page-layout">
  <div class="side-left astrobg"></div>

  <div class="side-right astrobg"></div>

  <div class="container">
    <div class="main-img">
      <img src="./assets/img/Tao.jpg" id="current">
    </div>
    <span *ngFor="let p of projects; let i = index">
        <span id="project{{ i }}" class="project-description" style="color: white; display: none;">{{ p.projectDesc }}</span> 
    </span>
    <div class="imgs">
      <span *ngFor="let p of projects; let i = index">
          <!-- <p style="color: white">{{ p.projectName }}</p> 
          <p style="color: white">{{ p.projectDesc }}</p>  -->
        <img [src]="p.projectImg" alt="Primary" (click)="imgClick($event, i)">
      </span>
      <!-- <tr *ngFor="let c of content">           
          <td *ngFor="let key of c | keys">{{key}}: {{c[key]}}</td>
        </tr> -->
        
      <!-- <img (click)="imgClick($event)" src="./assets/img/Tao.jpg">
      <img (click)="imgClick($event)" src="./assets/img/TaoAbout.jpg">
      <img (click)="imgClick($event)" src="./assets/img/TaoSchedule.jpg">
      <img (click)="imgClick($event)" src="./assets/img/TaoRoster.jpg">
      <img (click)="imgClick($event)" src="./assets/img/Daletributes.jpg">
      <img (click)="imgClick($event)" src="./assets/img/LoanCalc1.jpg">
      <img (click)="imgClick($event)" src="./assets/img/LoanCalc2.jpg">
      <img (click)="imgClick($event)" src="./assets/img/drumKit.jpg"> -->
    </div>
  </div>
</div>