<div class="container-text">
  Portfolio
</div>

<div class="page-layout">
  <div class="side-left astrobg"></div>

  <div class="side-right astrobg"></div>

  <div class="container">
    <div class="main-img">
      <img src="./assets/img/Tao.jpg" id="current">
    </div> <div class="imgs">
      <img (click)="imgClick($event)" src="./assets/img/Tao.jpg">
      <img (click)="imgClick($event)" src="./assets/img/TaoAbout.jpg">
      <img (click)="imgClick($event)" src="./assets/img/TaoSchedule.jpg">
      <img (click)="imgClick($event)" src="./assets/img/TaoRoster.jpg">
      <img (click)="imgClick($event)" src="./assets/img/Daletributes.jpg">
      <img (click)="imgClick($event)" src="./assets/img/LoanCalc1.jpg">
      <img (click)="imgClick($event)" src="./assets/img/LoanCalc2.jpg">
      <img (click)="imgClick($event)" src="./assets/img/drumKit.jpg">
    </div>
  </div>
</div>


<!-- [style.background-image] = "'url(\'./assets/img/bgPalm.png\')'" -->
