.left-profile {
  grid-area: profile;
  width: 100%;
}

.work-experience {
  grid-area: work;
}

.education {
  grid-area: education;
}

.bgimg1 {
  height: 25vh;
  width: 100%;
}

.profile-img {
  max-width: 100%;
  height: auto;
  display: block;
}

.profile-text {
  position: absolute;
  bottom: 8px;
  left: 25px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.15);
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-size: 19px;
}

.profile-div {
  position: relative;
  text-align: center;
  color: black;
  display: inline-block;
}

.left-profile > h4 {
  padding-top: 1em;
}

.timeline {
  color: #0b538f;
  font-size: 1rem;
}

.buttonDownload {
  display: inline-block;
  position: relative;
  padding: 10px 25px;

  background-color: #0b538f;
  color: white;

  font-family: sans-serif;
  text-decoration: none;
  font-size: 0.9em;
  text-align: center;
  text-indent: 15px;
  width: 131px;
}

.buttonDownload:hover {
  background-color: rgb(31, 115, 184);
  color: white;
}

.buttonDownload:before,
.buttonDownload:after {
  content: " ";
  display: block;
  position: absolute;
  left: 15px;
  top: 52%;
}

/* Download box shape  */
.buttonDownload:before {
  width: 10px;
  height: 2px;
  border-style: solid;
  border-width: 0 2px 2px;
}

/* Download arrow shape */
.buttonDownload:after {
  width: 0;
  height: 0;
  margin-left: 1px;
  margin-top: -7px;

  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: transparent;
  border-top-color: inherit;

  animation: downloadArrow 2s linear infinite;
  animation-play-state: paused;
}

.buttonDownload:hover:before {
  border-color: #fff;
}

.buttonDownload:hover:after {
  border-top-color: #fff;
  animation-play-state: running;
}

/* keyframes for the download icon anim */
@keyframes downloadArrow {
  /* 0% and 0.001% keyframes used as a hackish way of having the button frozen on a nice looking frame by default */
  0% {
    margin-top: -7px;
    opacity: 1;
  }

  0.001% {
    margin-top: -15px;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    margin-top: 0;
    opacity: 0;
  }
}
