<div>
    <img class="bgimg1" [src]="navBackground">
</div>

<div class="wrapper-grid">
  <div class="card left-profile">`
    <div class="profile-div">
      <img class="profile-img" [src]="profile" alt="Profile">
      <div class="profile-text">Michael DeConzo</div>
    </div>
    <!-- Left Section of column page -->
    <h4>Web Application Developer</h4>
    <ul class="personal-info">
      <li>Date Of Birth: January 20th, 1988</li>
      <li>Email: Medeconzo@gmail.com</li>
      <li>Website:
        <a href="https://ovarmorrow.github.io/">Landing Page</a>
      </li>
    </ul>


    <ul class="skills">
      <li>Languages: C#, CSS, HTML, JavaScript, SQL, AngularJS, Bootstrap, JQuery</li>
      <li>Platforms: Windows, ASP.NET/WebForms/MVC, Entity Framework </li>
      <li>Software: MS Office, Visual Studios SQL Server, SQ Lite, Git</li>
    </ul>

    <h4>Experience</h4>

    <p> Developer with knowledge of C#, ASP.Net MVC 5, SQL Server along with HTML 5, CSS and Bootstrap. I've been working closely
      with Senior Developers to cement my knowledge of these languages and expand my portfolio. I know how to work successfully
      with a team to get things done with the highest quality standards. I thrive in a dynamic working environment and enjoy
      taking on new challenges. I am a quick study and have a passion for technology and learning.</p>

    <h4>PDF Resume</h4>

    <a [href]="pdfResume" class="buttonDownload" download>Download</a>

  </div>
  <!-- Right column section of page -->
  <div class="card work-experience">
    <h1>Work Experience</h1>

    <div>
      <h3>Pinetop Systems - Junior Web Developer</h3>
      <span class="timeline">
        <i class="fas fa-calendar-alt"></i> 01/2018-Present</span>
      <ul>
        <li>Developed marketing website using bootstrap and database integration with SQL server</li>
        <li>Built web pages using HTML, JQuery, Bootstrap, and C#</li>
        <li>Partnered with designers to create sitemaps, improve Web page layouts and interfaces</li>
        <li>Coordinated with marketing team for the presentation of website and other marketing material</li>

      </ul>
    </div>
    <hr />
    <div>
      <h3>Power Curbers - Shipping and Receiving</h3>
      <span class="timeline">
        <i class="fas fa-calendar-alt"></i> 11/2014-Present</span>
      <ul>
        <li>Thorough labeling, organization and continuing maintenance of all service inventory through use of SAGE mass system,
          accompanying physical double checking. </li>
        <li>Extensive experience with Starship transportation program and its tools for use in packaging and shipment of service
          parts. </li>
        <li>In Depth knowledge of various oversea requirements and stipulations depending on cargo, contents and shipment methods.
          (LTL freight classing, heat treated lumber, air freight regulations and commercial invoicing)
        </li>
        <li>Setup and packaging for overseas container shipments as well as construction of Bill of Lading. </li>
        <li>Extensive experience loading heavy equipment onto and into varying types of trailers (RGN, Stepdeck and Container)
          as well as proper methods in properly securing cargo for transit.</li>
      </ul>
    </div>
    <hr />
    <div>
      <h3>Power Curbers - Media Blaster</h3>
      <span class="timeline">
        <i class="fas fa-calendar-alt"></i> 05/2014-11/2014</span>
      <ul>
        <li>Thorough labeling, organization and continuing maintenance of all service inventory through use of SAGE mass system,
          accompanying physical double checking. </li>
        <li>Extensive experience with Starship transportation program and its tools for use in packaging and shipment of service
          parts. </li>
        <li>In Depth knowledge of various oversea requirements and stipulations depending on cargo, contents and shipment methods.
          (LTL freight classing, heat treated lumber, air freight regulations and commercial invoicing)
        </li>
        <li>Setup and packaging for overseas container shipments as well as construction of Bill of Lading. </li>
        <li>Extensive experience loading heavy equipment onto and into varying types of trailers (RGN, Stepdeck and Container)
          as well as proper methods in properly securing cargo for transit.</li>
      </ul>
    </div>
    <div>
      <h3>Rodgers Unloading - Material Handler</h3>
      <span class="timeline">
        <i class="fas fa-calendar-alt"></i> 07/2014-10/2014</span>
      <ul>
        <li>Loaded materials into vehicles and installed strapping, bracing, or padding to prevent shifting or damage in transit</li>
        <li>Conveyed materials to or from storage or work sites to designated area</li>
        <li>Secured lifting attachments to materials and conveyed load to destination</li>
      </ul>
    </div>
  </div>
  <!-- Right buttom column section -->
  <div class="card education">
    <h1>Education</h1>

    <div>
      <h3>Surry Community College</h3>
      <span class="timeline">
        <i class="fas fa-calendar-alt"></i> 08/2006-05/2008</span>
      <p>Associate in Arts program coursework</p>
    </div>
    <hr />
    <div>
      <h3>West Stokes High School</h3>
      <span class="timeline">
        <i class="fas fa-calendar-alt"></i> 09/2002-05/2006</span>
      <p>High School Diploma</p>
    </div>
  </div>
</div>